.navbar-brand img {
    max-width: 100px;
}
.nav-link {
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    margin-right: 4px;
    letter-spacing: -0.5px;
    color: #0088cc;
    padding: 10px 16px 10px 16px !important;
}
.nav-link:hover,
.nav-link.active {
    background-color: #0088cc;
    color: #ffffff !important;
    border-radius: 4px;
}
